.ToDoList {
    width: 80%;
    max-width: 34%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
.backsite {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px;
    padding: 0 10px; 
}
